<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Networks</key>
	<array>
		<string>model/camera_obstruction_v3_model_drop/t287_od</string>
	</array>
	<key>Version</key>
	<string>1.0.3</string>
	<key>model/camera_obstruction_v3_model_drop/t287_od</key>
	<dict>
		<key>Inputs</key>
		<array>
			<string>input_1/q</string>
		</array>
		<key>Outputs</key>
		<array>
			<string>conv2d_15/convolution/q</string>
		</array>
		<key>Units</key>
		<array>
			<string>conv2d_2/convolution/conv</string>
			<string>conv2d_2/convolution/bias</string>
			<string>conv2d_2/convolution/activation</string>
			<string>max_pooling2d_1/MaxPool/maxpool</string>
			<string>max_pooling2d_1/MaxPool/scale</string>
			<string>conv2d_1/convolution/conv</string>
			<string>conv2d_1/convolution/bias</string>
			<string>conv2d_1/convolution/activation</string>
			<string>concatenate_1/concat/concat</string>
			<string>conv2d_4/convolution/conv</string>
			<string>conv2d_4/convolution/bias</string>
			<string>conv2d_4/convolution/activation</string>
			<string>max_pooling2d_2/MaxPool/maxpool</string>
			<string>max_pooling2d_2/MaxPool/scale</string>
			<string>conv2d_3/convolution/conv</string>
			<string>conv2d_3/convolution/bias</string>
			<string>conv2d_3/convolution/activation</string>
			<string>concatenate_2/concat/concat</string>
			<string>conv2d_5/convolution/conv</string>
			<string>conv2d_5/convolution/bias</string>
			<string>conv2d_5/convolution/activation</string>
			<string>conv2d_6/convolution/conv</string>
			<string>conv2d_6/convolution/bias</string>
			<string>conv2d_6/convolution/activation</string>
			<string>conv2d_7/convolution/conv</string>
			<string>conv2d_7/convolution/bias</string>
			<string>conv2d_7/convolution/activation</string>
			<string>conv2d_8/convolution/conv</string>
			<string>conv2d_8/convolution/bias</string>
			<string>conv2d_8/convolution/activation</string>
			<string>conv2d_9/convolution/conv</string>
			<string>conv2d_9/convolution/bias</string>
			<string>conv2d_9/convolution/activation</string>
			<string>conv2d_10/convolution/conv</string>
			<string>conv2d_10/convolution/bias</string>
			<string>conv2d_10/convolution/activation</string>
			<string>concatenate_3/concat/concat</string>
			<string>conv2d_11/convolution/conv</string>
			<string>conv2d_11/convolution/bias</string>
			<string>conv2d_11/convolution/activation</string>
			<string>conv2d_12/convolution/conv</string>
			<string>conv2d_12/convolution/bias</string>
			<string>conv2d_12/convolution/activation</string>
			<string>conv2d_13/convolution/conv</string>
			<string>conv2d_13/convolution/bias</string>
			<string>conv2d_13/convolution/activation</string>
			<string>conv2d_14/convolution/conv</string>
			<string>conv2d_14/convolution/bias</string>
			<string>conv2d_14/convolution/activation</string>
			<string>conv2d_15/convolution/q/conv</string>
			<string>conv2d_15/convolution/q/bias</string>
		</array>
		<key>Weights</key>
		<array>
			<string>anecir.bin</string>
		</array>
		<key>concatenate_1/concat/concat</key>
		<dict>
			<key>Bottom</key>
			<array>
				<string>conv2d_1/convolution/activation</string>
				<string>max_pooling2d_1/MaxPool/scale</string>
			</array>
			<key>Name</key>
			<string>concatenate_1/concat/concat</string>
			<key>OutputType</key>
			<string>UInt8</string>
			<key>Type</key>
			<string>Concat</string>
		</dict>
		<key>concatenate_2/concat/concat</key>
		<dict>
			<key>Bottom</key>
			<array>
				<string>conv2d_3/convolution/activation</string>
				<string>max_pooling2d_2/MaxPool/scale</string>
			</array>
			<key>Name</key>
			<string>concatenate_2/concat/concat</string>
			<key>OutputType</key>
			<string>UInt8</string>
			<key>Type</key>
			<string>Concat</string>
		</dict>
		<key>concatenate_3/concat/concat</key>
		<dict>
			<key>Bottom</key>
			<array>
				<string>conv2d_6/convolution/activation</string>
				<string>conv2d_10/convolution/activation</string>
			</array>
			<key>Name</key>
			<string>concatenate_3/concat/concat</string>
			<key>OutputType</key>
			<string>UInt8</string>
			<key>Type</key>
			<string>Concat</string>
		</dict>
		<key>conv2d_1/convolution/activation</key>
		<dict>
			<key>Bottom</key>
			<string>conv2d_1/convolution/bias</string>
			<key>Name</key>
			<string>conv2d_1/convolution/activation</string>
			<key>OutputType</key>
			<string>UInt8</string>
			<key>Params</key>
			<dict>
				<key>Type</key>
				<string>ReLU</string>
			</dict>
			<key>Type</key>
			<string>Neuron</string>
		</dict>
		<key>conv2d_1/convolution/bias</key>
		<dict>
			<key>Bottom</key>
			<string>conv2d_1/convolution/conv</string>
			<key>Name</key>
			<string>conv2d_1/convolution/bias</string>
			<key>OutputType</key>
			<string>UInt8</string>
			<key>Params</key>
			<dict>
				<key>BiasScaleGroupData</key>
				<dict>
					<key>BiasCount</key>
					<integer>16</integer>
					<key>BiasOffset</key>
					<integer>1022</integer>
					<key>ScaleCount</key>
					<integer>16</integer>
					<key>ScaleOffset</key>
					<integer>990</integer>
				</dict>
				<key>BiasShift</key>
				<integer>13</integer>
				<key>ScaleShift</key>
				<integer>11</integer>
			</dict>
			<key>Type</key>
			<string>GOC</string>
		</dict>
		<key>conv2d_1/convolution/conv</key>
		<dict>
			<key>Bottom</key>
			<string>input_1/q</string>
			<key>Name</key>
			<string>conv2d_1/convolution/conv</string>
			<key>NumGroups</key>
			<integer>1</integer>
			<key>OutputChannels</key>
			<integer>16</integer>
			<key>OutputType</key>
			<string>UInt8</string>
			<key>Params</key>
			<dict>
				<key>KernelCoeffCount</key>
				<integer>347</integer>
				<key>KernelGroupReuse</key>
				<false/>
				<key>KernelHeight</key>
				<integer>7</integer>
				<key>KernelMaskByteOffset</key>
				<integer>891</integer>
				<key>KernelMode</key>
				<string>Sparse</string>
				<key>KernelOffset</key>
				<integer>544</integer>
				<key>KernelType</key>
				<string>Int8</string>
				<key>KernelWidth</key>
				<integer>7</integer>
				<key>PadBot</key>
				<integer>3</integer>
				<key>PadLeft</key>
				<integer>2</integer>
				<key>PadRight</key>
				<integer>3</integer>
				<key>PadTop</key>
				<integer>2</integer>
				<key>Step</key>
				<array>
					<integer>2</integer>
					<integer>2</integer>
				</array>
				<key>Type</key>
				<string>Conv</string>
			</dict>
			<key>Type</key>
			<string>Conv</string>
		</dict>
		<key>conv2d_10/convolution/activation</key>
		<dict>
			<key>Bottom</key>
			<string>conv2d_10/convolution/bias</string>
			<key>Name</key>
			<string>conv2d_10/convolution/activation</string>
			<key>OutputType</key>
			<string>UInt8</string>
			<key>Params</key>
			<dict>
				<key>Type</key>
				<string>ReLU</string>
			</dict>
			<key>Type</key>
			<string>Neuron</string>
		</dict>
		<key>conv2d_10/convolution/bias</key>
		<dict>
			<key>Bottom</key>
			<string>conv2d_10/convolution/conv</string>
			<key>Name</key>
			<string>conv2d_10/convolution/bias</string>
			<key>OutputType</key>
			<string>UInt8</string>
			<key>Params</key>
			<dict>
				<key>BiasScaleGroupData</key>
				<dict>
					<key>BiasCount</key>
					<integer>64</integer>
					<key>BiasOffset</key>
					<integer>343918</integer>
					<key>ScaleCount</key>
					<integer>64</integer>
					<key>ScaleOffset</key>
					<integer>343790</integer>
				</dict>
				<key>BiasShift</key>
				<integer>15</integer>
				<key>ScaleShift</key>
				<integer>24</integer>
			</dict>
			<key>Type</key>
			<string>GOC</string>
		</dict>
		<key>conv2d_10/convolution/conv</key>
		<dict>
			<key>Bottom</key>
			<string>conv2d_9/convolution/activation</string>
			<key>Name</key>
			<string>conv2d_10/convolution/conv</string>
			<key>NumGroups</key>
			<integer>1</integer>
			<key>OutputChannels</key>
			<integer>64</integer>
			<key>OutputType</key>
			<string>UInt8</string>
			<key>Params</key>
			<dict>
				<key>KernelGroupReuse</key>
				<false/>
				<key>KernelHeight</key>
				<integer>1</integer>
				<key>KernelOffset</key>
				<integer>339694</integer>
				<key>KernelType</key>
				<string>Int8</string>
				<key>KernelWidth</key>
				<integer>1</integer>
				<key>PadBot</key>
				<integer>0</integer>
				<key>PadLeft</key>
				<integer>0</integer>
				<key>PadRight</key>
				<integer>0</integer>
				<key>PadTop</key>
				<integer>0</integer>
				<key>Step</key>
				<array>
					<integer>1</integer>
					<integer>1</integer>
				</array>
				<key>Type</key>
				<string>Conv</string>
			</dict>
			<key>Type</key>
			<string>Conv</string>
		</dict>
		<key>conv2d_11/convolution/activation</key>
		<dict>
			<key>Bottom</key>
			<string>conv2d_11/convolution/bias</string>
			<key>Name</key>
			<string>conv2d_11/convolution/activation</string>
			<key>OutputType</key>
			<string>UInt8</string>
			<key>Params</key>
			<dict>
				<key>Type</key>
				<string>ReLU</string>
			</dict>
			<key>Type</key>
			<string>Neuron</string>
		</dict>
		<key>conv2d_11/convolution/bias</key>
		<dict>
			<key>Bottom</key>
			<string>conv2d_11/convolution/conv</string>
			<key>Name</key>
			<string>conv2d_11/convolution/bias</string>
			<key>OutputType</key>
			<string>UInt8</string>
			<key>Params</key>
			<dict>
				<key>BiasScaleGroupData</key>
				<dict>
					<key>BiasCount</key>
					<integer>64</integer>
					<key>BiasOffset</key>
					<integer>446590</integer>
					<key>ScaleCount</key>
					<integer>64</integer>
					<key>ScaleOffset</key>
					<integer>446462</integer>
				</dict>
				<key>BiasShift</key>
				<integer>15</integer>
				<key>ScaleShift</key>
				<integer>22</integer>
			</dict>
			<key>Type</key>
			<string>GOC</string>
		</dict>
		<key>conv2d_11/convolution/conv</key>
		<dict>
			<key>Bottom</key>
			<string>concatenate_3/concat/concat</string>
			<key>Name</key>
			<string>conv2d_11/convolution/conv</string>
			<key>NumGroups</key>
			<integer>1</integer>
			<key>OutputChannels</key>
			<integer>64</integer>
			<key>OutputType</key>
			<string>UInt8</string>
			<key>Params</key>
			<dict>
				<key>KernelGroupReuse</key>
				<false/>
				<key>KernelHeight</key>
				<integer>5</integer>
				<key>KernelMode</key>
				<string>Palette16</string>
				<key>KernelOffset</key>
				<integer>344046</integer>
				<key>KernelPaletteLUTOffset</key>
				<integer>446446</integer>
				<key>KernelType</key>
				<string>Int8</string>
				<key>KernelWidth</key>
				<integer>5</integer>
				<key>PadBot</key>
				<integer>2</integer>
				<key>PadLeft</key>
				<integer>2</integer>
				<key>PadRight</key>
				<integer>2</integer>
				<key>PadTop</key>
				<integer>2</integer>
				<key>Step</key>
				<array>
					<integer>1</integer>
					<integer>1</integer>
				</array>
				<key>Type</key>
				<string>Conv</string>
			</dict>
			<key>Type</key>
			<string>Conv</string>
		</dict>
		<key>conv2d_12/convolution/activation</key>
		<dict>
			<key>Bottom</key>
			<string>conv2d_12/convolution/bias</string>
			<key>Name</key>
			<string>conv2d_12/convolution/activation</string>
			<key>OutputType</key>
			<string>UInt8</string>
			<key>Params</key>
			<dict>
				<key>Type</key>
				<string>ReLU</string>
			</dict>
			<key>Type</key>
			<string>Neuron</string>
		</dict>
		<key>conv2d_12/convolution/bias</key>
		<dict>
			<key>Bottom</key>
			<string>conv2d_12/convolution/conv</string>
			<key>Name</key>
			<string>conv2d_12/convolution/bias</string>
			<key>OutputType</key>
			<string>UInt8</string>
			<key>Params</key>
			<dict>
				<key>BiasScaleGroupData</key>
				<dict>
					<key>BiasCount</key>
					<integer>64</integer>
					<key>BiasOffset</key>
					<integer>848128</integer>
					<key>ScaleCount</key>
					<integer>1</integer>
					<key>ScaleOffset</key>
					<integer>848126</integer>
				</dict>
				<key>BiasShift</key>
				<integer>6</integer>
			</dict>
			<key>Type</key>
			<string>GOC</string>
		</dict>
		<key>conv2d_12/convolution/conv</key>
		<dict>
			<key>Bottom</key>
			<string>conv2d_11/convolution/activation</string>
			<key>Name</key>
			<string>conv2d_12/convolution/conv</string>
			<key>NumGroups</key>
			<integer>1</integer>
			<key>OutputChannels</key>
			<integer>64</integer>
			<key>OutputType</key>
			<string>UInt8</string>
			<key>Params</key>
			<dict>
				<key>KernelGroupReuse</key>
				<false/>
				<key>KernelHeight</key>
				<integer>7</integer>
				<key>KernelOffset</key>
				<integer>446718</integer>
				<key>KernelType</key>
				<string>Float16</string>
				<key>KernelWidth</key>
				<integer>7</integer>
				<key>PadBot</key>
				<integer>3</integer>
				<key>PadLeft</key>
				<integer>3</integer>
				<key>PadRight</key>
				<integer>3</integer>
				<key>PadTop</key>
				<integer>3</integer>
				<key>Step</key>
				<array>
					<integer>1</integer>
					<integer>1</integer>
				</array>
				<key>Type</key>
				<string>Conv</string>
			</dict>
			<key>Type</key>
			<string>Conv</string>
		</dict>
		<key>conv2d_13/convolution/activation</key>
		<dict>
			<key>Bottom</key>
			<string>conv2d_13/convolution/bias</string>
			<key>Name</key>
			<string>conv2d_13/convolution/activation</string>
			<key>OutputType</key>
			<string>UInt8</string>
			<key>Params</key>
			<dict>
				<key>Type</key>
				<string>ReLU</string>
			</dict>
			<key>Type</key>
			<string>Neuron</string>
		</dict>
		<key>conv2d_13/convolution/bias</key>
		<dict>
			<key>Bottom</key>
			<string>conv2d_13/convolution/conv</string>
			<key>Name</key>
			<string>conv2d_13/convolution/bias</string>
			<key>OutputType</key>
			<string>UInt8</string>
			<key>Params</key>
			<dict>
				<key>BiasScaleGroupData</key>
				<dict>
					<key>BiasCount</key>
					<integer>64</integer>
					<key>BiasOffset</key>
					<integer>1249666</integer>
					<key>ScaleCount</key>
					<integer>1</integer>
					<key>ScaleOffset</key>
					<integer>1249664</integer>
				</dict>
				<key>BiasShift</key>
				<integer>7</integer>
			</dict>
			<key>Type</key>
			<string>GOC</string>
		</dict>
		<key>conv2d_13/convolution/conv</key>
		<dict>
			<key>Bottom</key>
			<string>conv2d_12/convolution/activation</string>
			<key>Name</key>
			<string>conv2d_13/convolution/conv</string>
			<key>NumGroups</key>
			<integer>1</integer>
			<key>OutputChannels</key>
			<integer>64</integer>
			<key>OutputType</key>
			<string>UInt8</string>
			<key>Params</key>
			<dict>
				<key>KernelGroupReuse</key>
				<false/>
				<key>KernelHeight</key>
				<integer>7</integer>
				<key>KernelOffset</key>
				<integer>848256</integer>
				<key>KernelType</key>
				<string>Float16</string>
				<key>KernelWidth</key>
				<integer>7</integer>
				<key>PadBot</key>
				<integer>3</integer>
				<key>PadLeft</key>
				<integer>3</integer>
				<key>PadRight</key>
				<integer>3</integer>
				<key>PadTop</key>
				<integer>3</integer>
				<key>Step</key>
				<array>
					<integer>1</integer>
					<integer>1</integer>
				</array>
				<key>Type</key>
				<string>Conv</string>
			</dict>
			<key>Type</key>
			<string>Conv</string>
		</dict>
		<key>conv2d_14/convolution/activation</key>
		<dict>
			<key>Bottom</key>
			<string>conv2d_14/convolution/bias</string>
			<key>Name</key>
			<string>conv2d_14/convolution/activation</string>
			<key>OutputType</key>
			<string>UInt8</string>
			<key>Params</key>
			<dict>
				<key>Type</key>
				<string>ReLU</string>
			</dict>
			<key>Type</key>
			<string>Neuron</string>
		</dict>
		<key>conv2d_14/convolution/bias</key>
		<dict>
			<key>Bottom</key>
			<string>conv2d_14/convolution/conv</string>
			<key>Name</key>
			<string>conv2d_14/convolution/bias</string>
			<key>OutputType</key>
			<string>UInt8</string>
			<key>Params</key>
			<dict>
				<key>BiasScaleGroupData</key>
				<dict>
					<key>BiasCount</key>
					<integer>64</integer>
					<key>BiasOffset</key>
					<integer>1257988</integer>
					<key>ScaleCount</key>
					<integer>1</integer>
					<key>ScaleOffset</key>
					<integer>1257986</integer>
				</dict>
				<key>BiasShift</key>
				<integer>8</integer>
				<key>ScaleShift</key>
				<integer>1</integer>
			</dict>
			<key>Type</key>
			<string>GOC</string>
		</dict>
		<key>conv2d_14/convolution/conv</key>
		<dict>
			<key>Bottom</key>
			<string>conv2d_13/convolution/activation</string>
			<key>Name</key>
			<string>conv2d_14/convolution/conv</string>
			<key>NumGroups</key>
			<integer>1</integer>
			<key>OutputChannels</key>
			<integer>64</integer>
			<key>OutputType</key>
			<string>UInt8</string>
			<key>Params</key>
			<dict>
				<key>KernelGroupReuse</key>
				<false/>
				<key>KernelHeight</key>
				<integer>1</integer>
				<key>KernelOffset</key>
				<integer>1249794</integer>
				<key>KernelType</key>
				<string>Float16</string>
				<key>KernelWidth</key>
				<integer>1</integer>
				<key>PadBot</key>
				<integer>0</integer>
				<key>PadLeft</key>
				<integer>0</integer>
				<key>PadRight</key>
				<integer>0</integer>
				<key>PadTop</key>
				<integer>0</integer>
				<key>Step</key>
				<array>
					<integer>1</integer>
					<integer>1</integer>
				</array>
				<key>Type</key>
				<string>Conv</string>
			</dict>
			<key>Type</key>
			<string>Conv</string>
		</dict>
		<key>conv2d_15/convolution/q</key>
		<dict>
			<key>Bottom</key>
			<string>conv2d_15/convolution/q/bias</string>
			<key>OutputInterleave</key>
			<integer>1</integer>
			<key>OutputType</key>
			<string>Int8</string>
		</dict>
		<key>conv2d_15/convolution/q/bias</key>
		<dict>
			<key>Bottom</key>
			<string>conv2d_15/convolution/q/conv</string>
			<key>Name</key>
			<string>conv2d_15/convolution/q/bias</string>
			<key>OutputType</key>
			<string>Int8</string>
			<key>Params</key>
			<dict>
				<key>BiasScaleGroupData</key>
				<dict>
					<key>BiasCount</key>
					<integer>1</integer>
					<key>BiasOffset</key>
					<integer>1258246</integer>
					<key>ScaleCount</key>
					<integer>1</integer>
					<key>ScaleOffset</key>
					<integer>1258244</integer>
				</dict>
				<key>BiasShift</key>
				<integer>7</integer>
				<key>ScaleShift</key>
				<integer>4</integer>
			</dict>
			<key>Type</key>
			<string>GOC</string>
		</dict>
		<key>conv2d_15/convolution/q/conv</key>
		<dict>
			<key>Bottom</key>
			<string>conv2d_14/convolution/activation</string>
			<key>Name</key>
			<string>conv2d_15/convolution/q/conv</string>
			<key>NumGroups</key>
			<integer>1</integer>
			<key>OutputChannels</key>
			<integer>1</integer>
			<key>OutputType</key>
			<string>Int8</string>
			<key>Params</key>
			<dict>
				<key>KernelGroupReuse</key>
				<false/>
				<key>KernelHeight</key>
				<integer>1</integer>
				<key>KernelOffset</key>
				<integer>1258116</integer>
				<key>KernelType</key>
				<string>Float16</string>
				<key>KernelWidth</key>
				<integer>1</integer>
				<key>PadBot</key>
				<integer>0</integer>
				<key>PadLeft</key>
				<integer>0</integer>
				<key>PadRight</key>
				<integer>0</integer>
				<key>PadTop</key>
				<integer>0</integer>
				<key>Step</key>
				<array>
					<integer>1</integer>
					<integer>1</integer>
				</array>
				<key>Type</key>
				<string>Conv</string>
			</dict>
			<key>Type</key>
			<string>Conv</string>
		</dict>
		<key>conv2d_2/convolution/activation</key>
		<dict>
			<key>Bottom</key>
			<string>conv2d_2/convolution/bias</string>
			<key>Name</key>
			<string>conv2d_2/convolution/activation</string>
			<key>OutputType</key>
			<string>UInt8</string>
			<key>Params</key>
			<dict>
				<key>Type</key>
				<string>ReLU</string>
			</dict>
			<key>Type</key>
			<string>Neuron</string>
		</dict>
		<key>conv2d_2/convolution/bias</key>
		<dict>
			<key>Bottom</key>
			<string>conv2d_2/convolution/conv</string>
			<key>Name</key>
			<string>conv2d_2/convolution/bias</string>
			<key>OutputType</key>
			<string>UInt8</string>
			<key>Params</key>
			<dict>
				<key>BiasScaleGroupData</key>
				<dict>
					<key>BiasCount</key>
					<integer>16</integer>
					<key>BiasOffset</key>
					<integer>512</integer>
					<key>ScaleCount</key>
					<integer>16</integer>
					<key>ScaleOffset</key>
					<integer>480</integer>
				</dict>
				<key>BiasShift</key>
				<integer>14</integer>
				<key>ScaleShift</key>
				<integer>12</integer>
			</dict>
			<key>Type</key>
			<string>GOC</string>
		</dict>
		<key>conv2d_2/convolution/conv</key>
		<dict>
			<key>Bottom</key>
			<string>input_1/q</string>
			<key>Name</key>
			<string>conv2d_2/convolution/conv</string>
			<key>NumGroups</key>
			<integer>1</integer>
			<key>OutputChannels</key>
			<integer>16</integer>
			<key>OutputType</key>
			<string>UInt8</string>
			<key>Params</key>
			<dict>
				<key>KernelCoeffCount</key>
				<integer>381</integer>
				<key>KernelGroupReuse</key>
				<false/>
				<key>KernelHeight</key>
				<integer>7</integer>
				<key>KernelMaskByteOffset</key>
				<integer>381</integer>
				<key>KernelMode</key>
				<string>Sparse</string>
				<key>KernelOffset</key>
				<integer>0</integer>
				<key>KernelType</key>
				<string>Int8</string>
				<key>KernelWidth</key>
				<integer>7</integer>
				<key>PadBot</key>
				<integer>3</integer>
				<key>PadLeft</key>
				<integer>3</integer>
				<key>PadRight</key>
				<integer>3</integer>
				<key>PadTop</key>
				<integer>3</integer>
				<key>Step</key>
				<array>
					<integer>1</integer>
					<integer>1</integer>
				</array>
				<key>Type</key>
				<string>Conv</string>
			</dict>
			<key>Type</key>
			<string>Conv</string>
		</dict>
		<key>conv2d_3/convolution/activation</key>
		<dict>
			<key>Bottom</key>
			<string>conv2d_3/convolution/bias</string>
			<key>Name</key>
			<string>conv2d_3/convolution/activation</string>
			<key>OutputType</key>
			<string>UInt8</string>
			<key>Params</key>
			<dict>
				<key>Type</key>
				<string>ReLU</string>
			</dict>
			<key>Type</key>
			<string>Neuron</string>
		</dict>
		<key>conv2d_3/convolution/bias</key>
		<dict>
			<key>Bottom</key>
			<string>conv2d_3/convolution/conv</string>
			<key>Name</key>
			<string>conv2d_3/convolution/bias</string>
			<key>OutputType</key>
			<string>UInt8</string>
			<key>Params</key>
			<dict>
				<key>BiasScaleGroupData</key>
				<dict>
					<key>BiasCount</key>
					<integer>32</integer>
					<key>BiasOffset</key>
					<integer>52446</integer>
					<key>ScaleCount</key>
					<integer>32</integer>
					<key>ScaleOffset</key>
					<integer>52382</integer>
				</dict>
				<key>BiasShift</key>
				<integer>15</integer>
				<key>ScaleShift</key>
				<integer>23</integer>
			</dict>
			<key>Type</key>
			<string>GOC</string>
		</dict>
		<key>conv2d_3/convolution/conv</key>
		<dict>
			<key>Bottom</key>
			<string>concatenate_1/concat/concat</string>
			<key>Name</key>
			<string>conv2d_3/convolution/conv</string>
			<key>NumGroups</key>
			<integer>1</integer>
			<key>OutputChannels</key>
			<integer>32</integer>
			<key>OutputType</key>
			<string>UInt8</string>
			<key>Params</key>
			<dict>
				<key>KernelGroupReuse</key>
				<false/>
				<key>KernelHeight</key>
				<integer>5</integer>
				<key>KernelOffset</key>
				<integer>26782</integer>
				<key>KernelType</key>
				<string>Int8</string>
				<key>KernelWidth</key>
				<integer>5</integer>
				<key>PadBot</key>
				<integer>2</integer>
				<key>PadLeft</key>
				<integer>1</integer>
				<key>PadRight</key>
				<integer>2</integer>
				<key>PadTop</key>
				<integer>1</integer>
				<key>Step</key>
				<array>
					<integer>2</integer>
					<integer>2</integer>
				</array>
				<key>Type</key>
				<string>Conv</string>
			</dict>
			<key>Type</key>
			<string>Conv</string>
		</dict>
		<key>conv2d_4/convolution/activation</key>
		<dict>
			<key>Bottom</key>
			<string>conv2d_4/convolution/bias</string>
			<key>Name</key>
			<string>conv2d_4/convolution/activation</string>
			<key>OutputType</key>
			<string>UInt8</string>
			<key>Params</key>
			<dict>
				<key>Type</key>
				<string>ReLU</string>
			</dict>
			<key>Type</key>
			<string>Neuron</string>
		</dict>
		<key>conv2d_4/convolution/bias</key>
		<dict>
			<key>Bottom</key>
			<string>conv2d_4/convolution/conv</string>
			<key>Name</key>
			<string>conv2d_4/convolution/bias</string>
			<key>OutputType</key>
			<string>UInt8</string>
			<key>Params</key>
			<dict>
				<key>BiasScaleGroupData</key>
				<dict>
					<key>BiasCount</key>
					<integer>32</integer>
					<key>BiasOffset</key>
					<integer>26718</integer>
					<key>ScaleCount</key>
					<integer>32</integer>
					<key>ScaleOffset</key>
					<integer>26654</integer>
				</dict>
				<key>BiasShift</key>
				<integer>15</integer>
				<key>ScaleShift</key>
				<integer>22</integer>
			</dict>
			<key>Type</key>
			<string>GOC</string>
		</dict>
		<key>conv2d_4/convolution/conv</key>
		<dict>
			<key>Bottom</key>
			<string>concatenate_1/concat/concat</string>
			<key>Name</key>
			<string>conv2d_4/convolution/conv</string>
			<key>NumGroups</key>
			<integer>1</integer>
			<key>OutputChannels</key>
			<integer>32</integer>
			<key>OutputType</key>
			<string>UInt8</string>
			<key>Params</key>
			<dict>
				<key>KernelGroupReuse</key>
				<false/>
				<key>KernelHeight</key>
				<integer>5</integer>
				<key>KernelOffset</key>
				<integer>1054</integer>
				<key>KernelType</key>
				<string>Int8</string>
				<key>KernelWidth</key>
				<integer>5</integer>
				<key>PadBot</key>
				<integer>2</integer>
				<key>PadLeft</key>
				<integer>2</integer>
				<key>PadRight</key>
				<integer>2</integer>
				<key>PadTop</key>
				<integer>2</integer>
				<key>Step</key>
				<array>
					<integer>1</integer>
					<integer>1</integer>
				</array>
				<key>Type</key>
				<string>Conv</string>
			</dict>
			<key>Type</key>
			<string>Conv</string>
		</dict>
		<key>conv2d_5/convolution/activation</key>
		<dict>
			<key>Bottom</key>
			<string>conv2d_5/convolution/bias</string>
			<key>Name</key>
			<string>conv2d_5/convolution/activation</string>
			<key>OutputType</key>
			<string>UInt8</string>
			<key>Params</key>
			<dict>
				<key>Type</key>
				<string>ReLU</string>
			</dict>
			<key>Type</key>
			<string>Neuron</string>
		</dict>
		<key>conv2d_5/convolution/bias</key>
		<dict>
			<key>Bottom</key>
			<string>conv2d_5/convolution/conv</string>
			<key>Name</key>
			<string>conv2d_5/convolution/bias</string>
			<key>OutputType</key>
			<string>UInt8</string>
			<key>Params</key>
			<dict>
				<key>BiasScaleGroupData</key>
				<dict>
					<key>BiasCount</key>
					<integer>64</integer>
					<key>BiasOffset</key>
					<integer>129502</integer>
					<key>ScaleCount</key>
					<integer>64</integer>
					<key>ScaleOffset</key>
					<integer>129374</integer>
				</dict>
				<key>BiasShift</key>
				<integer>15</integer>
				<key>ScaleShift</key>
				<integer>22</integer>
			</dict>
			<key>Type</key>
			<string>GOC</string>
		</dict>
		<key>conv2d_5/convolution/conv</key>
		<dict>
			<key>Bottom</key>
			<string>concatenate_2/concat/concat</string>
			<key>Name</key>
			<string>conv2d_5/convolution/conv</string>
			<key>NumGroups</key>
			<integer>1</integer>
			<key>OutputChannels</key>
			<integer>64</integer>
			<key>OutputType</key>
			<string>UInt8</string>
			<key>Params</key>
			<dict>
				<key>KernelGroupReuse</key>
				<false/>
				<key>KernelHeight</key>
				<integer>5</integer>
				<key>KernelMode</key>
				<string>Palette64</string>
				<key>KernelOffset</key>
				<integer>52510</integer>
				<key>KernelPaletteLUTOffset</key>
				<integer>129310</integer>
				<key>KernelType</key>
				<string>Int8</string>
				<key>KernelWidth</key>
				<integer>5</integer>
				<key>PadBot</key>
				<integer>2</integer>
				<key>PadLeft</key>
				<integer>2</integer>
				<key>PadRight</key>
				<integer>2</integer>
				<key>PadTop</key>
				<integer>2</integer>
				<key>Step</key>
				<array>
					<integer>1</integer>
					<integer>1</integer>
				</array>
				<key>Type</key>
				<string>Conv</string>
			</dict>
			<key>Type</key>
			<string>Conv</string>
		</dict>
		<key>conv2d_6/convolution/activation</key>
		<dict>
			<key>Bottom</key>
			<string>conv2d_6/convolution/bias</string>
			<key>Name</key>
			<string>conv2d_6/convolution/activation</string>
			<key>OutputType</key>
			<string>UInt8</string>
			<key>Params</key>
			<dict>
				<key>Type</key>
				<string>ReLU</string>
			</dict>
			<key>Type</key>
			<string>Neuron</string>
		</dict>
		<key>conv2d_6/convolution/bias</key>
		<dict>
			<key>Bottom</key>
			<string>conv2d_6/convolution/conv</string>
			<key>Name</key>
			<string>conv2d_6/convolution/bias</string>
			<key>OutputType</key>
			<string>UInt8</string>
			<key>Params</key>
			<dict>
				<key>BiasScaleGroupData</key>
				<dict>
					<key>BiasCount</key>
					<integer>64</integer>
					<key>BiasOffset</key>
					<integer>157470</integer>
					<key>ScaleCount</key>
					<integer>64</integer>
					<key>ScaleOffset</key>
					<integer>157342</integer>
				</dict>
				<key>BiasShift</key>
				<integer>15</integer>
				<key>ScaleShift</key>
				<integer>22</integer>
			</dict>
			<key>Type</key>
			<string>GOC</string>
		</dict>
		<key>conv2d_6/convolution/conv</key>
		<dict>
			<key>Bottom</key>
			<string>conv2d_5/convolution/activation</string>
			<key>Name</key>
			<string>conv2d_6/convolution/conv</string>
			<key>NumGroups</key>
			<integer>1</integer>
			<key>OutputChannels</key>
			<integer>64</integer>
			<key>OutputType</key>
			<string>UInt8</string>
			<key>Params</key>
			<dict>
				<key>KernelGroupReuse</key>
				<false/>
				<key>KernelHeight</key>
				<integer>3</integer>
				<key>KernelMode</key>
				<string>Palette64</string>
				<key>KernelOffset</key>
				<integer>129630</integer>
				<key>KernelPaletteLUTOffset</key>
				<integer>157278</integer>
				<key>KernelType</key>
				<string>Int8</string>
				<key>KernelWidth</key>
				<integer>3</integer>
				<key>PadBot</key>
				<integer>1</integer>
				<key>PadLeft</key>
				<integer>1</integer>
				<key>PadRight</key>
				<integer>1</integer>
				<key>PadTop</key>
				<integer>1</integer>
				<key>Step</key>
				<array>
					<integer>1</integer>
					<integer>1</integer>
				</array>
				<key>Type</key>
				<string>Conv</string>
			</dict>
			<key>Type</key>
			<string>Conv</string>
		</dict>
		<key>conv2d_7/convolution/activation</key>
		<dict>
			<key>Bottom</key>
			<string>conv2d_7/convolution/bias</string>
			<key>Name</key>
			<string>conv2d_7/convolution/activation</string>
			<key>OutputType</key>
			<string>UInt8</string>
			<key>Params</key>
			<dict>
				<key>Type</key>
				<string>ReLU</string>
			</dict>
			<key>Type</key>
			<string>Neuron</string>
		</dict>
		<key>conv2d_7/convolution/bias</key>
		<dict>
			<key>Bottom</key>
			<string>conv2d_7/convolution/conv</string>
			<key>Name</key>
			<string>conv2d_7/convolution/bias</string>
			<key>OutputType</key>
			<string>UInt8</string>
			<key>Params</key>
			<dict>
				<key>BiasScaleGroupData</key>
				<dict>
					<key>BiasCount</key>
					<integer>64</integer>
					<key>BiasOffset</key>
					<integer>234590</integer>
					<key>ScaleCount</key>
					<integer>64</integer>
					<key>ScaleOffset</key>
					<integer>234462</integer>
				</dict>
				<key>BiasShift</key>
				<integer>15</integer>
				<key>ScaleShift</key>
				<integer>21</integer>
			</dict>
			<key>Type</key>
			<string>GOC</string>
		</dict>
		<key>conv2d_7/convolution/conv</key>
		<dict>
			<key>Bottom</key>
			<string>conv2d_6/convolution/activation</string>
			<key>Name</key>
			<string>conv2d_7/convolution/conv</string>
			<key>NumGroups</key>
			<integer>1</integer>
			<key>OutputChannels</key>
			<integer>64</integer>
			<key>OutputType</key>
			<string>UInt8</string>
			<key>Params</key>
			<dict>
				<key>KernelGroupReuse</key>
				<false/>
				<key>KernelHeight</key>
				<integer>5</integer>
				<key>KernelMode</key>
				<string>Palette64</string>
				<key>KernelOffset</key>
				<integer>157598</integer>
				<key>KernelPaletteLUTOffset</key>
				<integer>234398</integer>
				<key>KernelType</key>
				<string>Int8</string>
				<key>KernelWidth</key>
				<integer>5</integer>
				<key>PadBot</key>
				<integer>2</integer>
				<key>PadLeft</key>
				<integer>2</integer>
				<key>PadRight</key>
				<integer>2</integer>
				<key>PadTop</key>
				<integer>2</integer>
				<key>Step</key>
				<array>
					<integer>1</integer>
					<integer>1</integer>
				</array>
				<key>Type</key>
				<string>Conv</string>
			</dict>
			<key>Type</key>
			<string>Conv</string>
		</dict>
		<key>conv2d_8/convolution/activation</key>
		<dict>
			<key>Bottom</key>
			<string>conv2d_8/convolution/bias</string>
			<key>Name</key>
			<string>conv2d_8/convolution/activation</string>
			<key>OutputType</key>
			<string>UInt8</string>
			<key>Params</key>
			<dict>
				<key>Type</key>
				<string>ReLU</string>
			</dict>
			<key>Type</key>
			<string>Neuron</string>
		</dict>
		<key>conv2d_8/convolution/bias</key>
		<dict>
			<key>Bottom</key>
			<string>conv2d_8/convolution/conv</string>
			<key>Name</key>
			<string>conv2d_8/convolution/bias</string>
			<key>OutputType</key>
			<string>UInt8</string>
			<key>Params</key>
			<dict>
				<key>BiasScaleGroupData</key>
				<dict>
					<key>BiasCount</key>
					<integer>64</integer>
					<key>BiasOffset</key>
					<integer>335214</integer>
					<key>ScaleCount</key>
					<integer>64</integer>
					<key>ScaleOffset</key>
					<integer>335086</integer>
				</dict>
				<key>BiasShift</key>
				<integer>15</integer>
				<key>ScaleShift</key>
				<integer>24</integer>
			</dict>
			<key>Type</key>
			<string>GOC</string>
		</dict>
		<key>conv2d_8/convolution/conv</key>
		<dict>
			<key>Bottom</key>
			<string>conv2d_7/convolution/activation</string>
			<key>Name</key>
			<string>conv2d_8/convolution/conv</string>
			<key>NumGroups</key>
			<integer>1</integer>
			<key>OutputChannels</key>
			<integer>64</integer>
			<key>OutputType</key>
			<string>UInt8</string>
			<key>Params</key>
			<dict>
				<key>KernelGroupReuse</key>
				<false/>
				<key>KernelHeight</key>
				<integer>7</integer>
				<key>KernelMode</key>
				<string>Palette16</string>
				<key>KernelOffset</key>
				<integer>234718</integer>
				<key>KernelPaletteLUTOffset</key>
				<integer>335070</integer>
				<key>KernelType</key>
				<string>Int8</string>
				<key>KernelWidth</key>
				<integer>7</integer>
				<key>PadBot</key>
				<integer>3</integer>
				<key>PadLeft</key>
				<integer>3</integer>
				<key>PadRight</key>
				<integer>3</integer>
				<key>PadTop</key>
				<integer>3</integer>
				<key>Step</key>
				<array>
					<integer>1</integer>
					<integer>1</integer>
				</array>
				<key>Type</key>
				<string>Conv</string>
			</dict>
			<key>Type</key>
			<string>Conv</string>
		</dict>
		<key>conv2d_9/convolution/activation</key>
		<dict>
			<key>Bottom</key>
			<string>conv2d_9/convolution/bias</string>
			<key>Name</key>
			<string>conv2d_9/convolution/activation</string>
			<key>OutputType</key>
			<string>UInt8</string>
			<key>Params</key>
			<dict>
				<key>Type</key>
				<string>ReLU</string>
			</dict>
			<key>Type</key>
			<string>Neuron</string>
		</dict>
		<key>conv2d_9/convolution/bias</key>
		<dict>
			<key>Bottom</key>
			<string>conv2d_9/convolution/conv</string>
			<key>Name</key>
			<string>conv2d_9/convolution/bias</string>
			<key>OutputType</key>
			<string>UInt8</string>
			<key>Params</key>
			<dict>
				<key>BiasScaleGroupData</key>
				<dict>
					<key>BiasCount</key>
					<integer>64</integer>
					<key>BiasOffset</key>
					<integer>339566</integer>
					<key>ScaleCount</key>
					<integer>64</integer>
					<key>ScaleOffset</key>
					<integer>339438</integer>
				</dict>
				<key>BiasShift</key>
				<integer>15</integer>
				<key>ScaleShift</key>
				<integer>22</integer>
			</dict>
			<key>Type</key>
			<string>GOC</string>
		</dict>
		<key>conv2d_9/convolution/conv</key>
		<dict>
			<key>Bottom</key>
			<string>conv2d_8/convolution/activation</string>
			<key>Name</key>
			<string>conv2d_9/convolution/conv</string>
			<key>NumGroups</key>
			<integer>1</integer>
			<key>OutputChannels</key>
			<integer>64</integer>
			<key>OutputType</key>
			<string>UInt8</string>
			<key>Params</key>
			<dict>
				<key>KernelGroupReuse</key>
				<false/>
				<key>KernelHeight</key>
				<integer>1</integer>
				<key>KernelOffset</key>
				<integer>335342</integer>
				<key>KernelType</key>
				<string>Int8</string>
				<key>KernelWidth</key>
				<integer>1</integer>
				<key>PadBot</key>
				<integer>0</integer>
				<key>PadLeft</key>
				<integer>0</integer>
				<key>PadRight</key>
				<integer>0</integer>
				<key>PadTop</key>
				<integer>0</integer>
				<key>Step</key>
				<array>
					<integer>1</integer>
					<integer>1</integer>
				</array>
				<key>Type</key>
				<string>Conv</string>
			</dict>
			<key>Type</key>
			<string>Conv</string>
		</dict>
		<key>input_1/q</key>
		<dict>
			<key>InputChannels</key>
			<integer>1</integer>
			<key>InputHeight</key>
			<integer>128</integer>
			<key>InputInterleave</key>
			<integer>1</integer>
			<key>InputType</key>
			<string>UInt8</string>
			<key>InputWidth</key>
			<integer>128</integer>
		</dict>
		<key>max_pooling2d_1/MaxPool/maxpool</key>
		<dict>
			<key>Bottom</key>
			<string>conv2d_2/convolution/activation</string>
			<key>Name</key>
			<string>max_pooling2d_1/MaxPool/maxpool</string>
			<key>OutputType</key>
			<string>UInt8</string>
			<key>Params</key>
			<dict>
				<key>AverageCountExcludePadding</key>
				<false/>
				<key>KernelHeight</key>
				<integer>2</integer>
				<key>KernelWidth</key>
				<integer>2</integer>
				<key>PadBot</key>
				<integer>0</integer>
				<key>PadLeft</key>
				<integer>0</integer>
				<key>PadRight</key>
				<integer>0</integer>
				<key>PadTop</key>
				<integer>0</integer>
				<key>Step</key>
				<array>
					<integer>2</integer>
					<integer>2</integer>
				</array>
				<key>Type</key>
				<string>Max</string>
			</dict>
			<key>Type</key>
			<string>Pooling</string>
		</dict>
		<key>max_pooling2d_1/MaxPool/scale</key>
		<dict>
			<key>Bottom</key>
			<string>max_pooling2d_1/MaxPool/maxpool</string>
			<key>Name</key>
			<string>max_pooling2d_1/MaxPool/scale</string>
			<key>OutputType</key>
			<string>UInt8</string>
			<key>Params</key>
			<dict>
				<key>ScaleScalar</key>
				<integer>15360</integer>
			</dict>
			<key>Type</key>
			<string>GOC</string>
		</dict>
		<key>max_pooling2d_2/MaxPool/maxpool</key>
		<dict>
			<key>Bottom</key>
			<string>conv2d_4/convolution/activation</string>
			<key>Name</key>
			<string>max_pooling2d_2/MaxPool/maxpool</string>
			<key>OutputType</key>
			<string>UInt8</string>
			<key>Params</key>
			<dict>
				<key>AverageCountExcludePadding</key>
				<false/>
				<key>KernelHeight</key>
				<integer>2</integer>
				<key>KernelWidth</key>
				<integer>2</integer>
				<key>PadBot</key>
				<integer>0</integer>
				<key>PadLeft</key>
				<integer>0</integer>
				<key>PadRight</key>
				<integer>0</integer>
				<key>PadTop</key>
				<integer>0</integer>
				<key>Step</key>
				<array>
					<integer>2</integer>
					<integer>2</integer>
				</array>
				<key>Type</key>
				<string>Max</string>
			</dict>
			<key>Type</key>
			<string>Pooling</string>
		</dict>
		<key>max_pooling2d_2/MaxPool/scale</key>
		<dict>
			<key>Bottom</key>
			<string>max_pooling2d_2/MaxPool/maxpool</string>
			<key>Name</key>
			<string>max_pooling2d_2/MaxPool/scale</string>
			<key>OutputType</key>
			<string>UInt8</string>
			<key>Params</key>
			<dict>
				<key>ScaleScalar</key>
				<integer>15360</integer>
			</dict>
			<key>Type</key>
			<string>GOC</string>
		</dict>
	</dict>
</dict>
</plist>
