<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Networks</key>
	<array>
		<string>model/t287_TrainMT_39833_2017_09_29/t287_lo</string>
	</array>
	<key>model/t287_TrainMT_39833_2017_09_29/t287_lo</key>
	<dict>
		<key>Inputs</key>
		<array>
			<string>images/q</string>
		</array>
		<key>Units</key>
		<array>
			<string>norm/conv</string>
			<string>norm/bias</string>
			<string>hm_conv0/conv</string>
			<string>hm_conv0/bias</string>
			<string>hm_conv0/activation</string>
			<string>pool1/maxpool</string>
			<string>hm_conv1/hm_conv1_0/conv</string>
			<string>hm_conv1/hm_conv1_0/bias</string>
			<string>hm_conv1/hm_conv1_0/activation</string>
			<string>pool2/maxpool</string>
			<string>hm_conv2/hm_conv2_0/conv</string>
			<string>hm_conv2/hm_conv2_0/bias</string>
			<string>hm_conv2/hm_conv2_0/activation</string>
			<string>pool3/maxpool</string>
			<string>hm_conv3/conv</string>
			<string>hm_conv3/bias</string>
			<string>hm_conv3/activation</string>
			<string>hm_conv4/hm_conv4_0/conv</string>
			<string>hm_conv4/hm_conv4_0/bias</string>
			<string>hm_conv4/hm_conv4_0/activation</string>
			<string>hm_conv5/hm_conv5_1/conv</string>
			<string>hm_conv5/hm_conv5_1/bias</string>
			<string>hm_conv5/hm_conv5_1/activation</string>
			<string>hm_conv5/hm_conv5_0/conv</string>
			<string>hm_conv5/hm_conv5_0/bias</string>
			<string>hm_conv5/hm_conv5_0/activation</string>
			<string>hm_conv5/concat</string>
			<string>hm_conv6/conv</string>
			<string>hm_conv6/bias</string>
			<string>hm_conv6/activation</string>
			<string>hm_conv7/conv</string>
			<string>hm_conv7/bias</string>
			<string>hm_conv7/activation</string>
			<string>concat/concat</string>
			<string>hm_conv1_f/hm_conv1_f_1/conv</string>
			<string>hm_conv1_f/hm_conv1_f_1/bias</string>
			<string>hm_conv1_f/hm_conv1_f_1/activation</string>
			<string>hm_conv1_f/hm_conv1_f_0/conv</string>
			<string>hm_conv1_f/hm_conv1_f_0/bias</string>
			<string>hm_conv1_f/hm_conv1_f_0/activation</string>
			<string>hm_conv1_f/concat</string>
			<string>hm_conv2_f/hm_conv2_f_1/conv</string>
			<string>hm_conv2_f/hm_conv2_f_1/bias</string>
			<string>hm_conv2_f/hm_conv2_f_1/activation</string>
			<string>hm_conv2_f/hm_conv2_f_0/conv</string>
			<string>hm_conv2_f/hm_conv2_f_0/bias</string>
			<string>hm_conv2_f/hm_conv2_f_0/activation</string>
			<string>hm_conv2_f/concat</string>
			<string>hm_conv3_f/hm_conv3_f_1/conv</string>
			<string>hm_conv3_f/hm_conv3_f_1/bias</string>
			<string>hm_conv3_f/hm_conv3_f_1/activation</string>
			<string>hm_conv3_f/hm_conv3_f_0/conv</string>
			<string>hm_conv3_f/hm_conv3_f_0/bias</string>
			<string>hm_conv3_f/hm_conv3_f_0/activation</string>
			<string>hm_conv3_f/concat</string>
			<string>hm_conv4_f/conv</string>
			<string>hm_conv4_f/bias</string>
			<string>hm_conv4_f/activation</string>
			<string>final_map/Conv2D/conv</string>
			<string>final_map/Conv2D/bias</string>
		</array>
		<key>Weights</key>
		<array>
			<string>anecir.bin</string>
		</array>
		<key>images/q</key>
		<dict>
			<key>InputInterleave</key>
			<integer>1</integer>
			<key>InputChannels</key>
			<integer>1</integer>
			<key>InputWidth</key>
			<integer>128</integer>
			<key>InputType</key>
			<string>UInt8</string>
			<key>InputHeight</key>
			<integer>128</integer>
		</dict>
		<key>norm/conv</key>
		<dict>
			<key>OutputChannels</key>
			<integer>1</integer>
			<key>Name</key>
			<string>norm/conv</string>
			<key>Bottom</key>
			<string>images/q</string>
			<key>NumGroups</key>
			<integer>1</integer>
			<key>OutputType</key>
			<string>Int8</string>
			<key>Params</key>
			<dict>
				<key>KernelOffset</key>
				<integer>0</integer>
				<key>PadLeft</key>
				<integer>0</integer>
				<key>PadBot</key>
				<integer>0</integer>
				<key>KernelHeight</key>
				<integer>1</integer>
				<key>PadTop</key>
				<integer>0</integer>
				<key>KernelWidth</key>
				<integer>1</integer>
				<key>Step</key>
				<array>
					<integer>1</integer>
					<integer>1</integer>
				</array>
				<key>KernelGroupReuse</key>
				<false/>
				<key>KernelType</key>
				<string>UInt8</string>
				<key>Type</key>
				<string>ChannelWiseConv</string>
				<key>PadRight</key>
				<integer>0</integer>
			</dict>
			<key>Type</key>
			<string>Conv</string>
		</dict>
		<key>norm/bias</key>
		<dict>
			<key>OutputType</key>
			<string>Int8</string>
			<key>Params</key>
			<dict>
				<key>BiasShift</key>
				<integer>13</integer>
				<key>BiasScaleGroupData</key>
				<dict>
					<key>BiasOffset</key>
					<integer>4</integer>
					<key>ScaleCount</key>
					<integer>1</integer>
					<key>ScaleOffset</key>
					<integer>2</integer>
					<key>BiasCount</key>
					<integer>1</integer>
				</dict>
				<key>ScaleShift</key>
				<integer>8</integer>
			</dict>
			<key>Type</key>
			<string>GOC</string>
			<key>Name</key>
			<string>norm/bias</string>
			<key>Bottom</key>
			<string>norm/conv</string>
		</dict>
		<key>hm_conv0/conv</key>
		<dict>
			<key>OutputChannels</key>
			<integer>64</integer>
			<key>Name</key>
			<string>hm_conv0/conv</string>
			<key>Bottom</key>
			<string>norm/bias</string>
			<key>NumGroups</key>
			<integer>1</integer>
			<key>OutputType</key>
			<string>UInt8</string>
			<key>Params</key>
			<dict>
				<key>KernelOffset</key>
				<integer>6</integer>
				<key>PadLeft</key>
				<integer>3</integer>
				<key>PadBot</key>
				<integer>3</integer>
				<key>KernelHeight</key>
				<integer>7</integer>
				<key>PadTop</key>
				<integer>3</integer>
				<key>KernelWidth</key>
				<integer>7</integer>
				<key>Step</key>
				<array>
					<integer>1</integer>
					<integer>1</integer>
				</array>
				<key>KernelGroupReuse</key>
				<false/>
				<key>KernelType</key>
				<string>Int8</string>
				<key>Type</key>
				<string>Conv</string>
				<key>PadRight</key>
				<integer>3</integer>
			</dict>
			<key>Type</key>
			<string>Conv</string>
		</dict>
		<key>hm_conv0/bias</key>
		<dict>
			<key>OutputType</key>
			<string>UInt8</string>
			<key>Params</key>
			<dict>
				<key>BiasShift</key>
				<integer>14</integer>
				<key>BiasScaleGroupData</key>
				<dict>
					<key>BiasOffset</key>
					<integer>3270</integer>
					<key>ScaleCount</key>
					<integer>64</integer>
					<key>ScaleOffset</key>
					<integer>3142</integer>
					<key>BiasCount</key>
					<integer>64</integer>
				</dict>
				<key>ScaleShift</key>
				<integer>12</integer>
			</dict>
			<key>Type</key>
			<string>GOC</string>
			<key>Name</key>
			<string>hm_conv0/bias</string>
			<key>Bottom</key>
			<string>hm_conv0/conv</string>
		</dict>
		<key>hm_conv0/activation</key>
		<dict>
			<key>OutputType</key>
			<string>UInt8</string>
			<key>Params</key>
			<dict>
				<key>Type</key>
				<string>ReLU</string>
			</dict>
			<key>Type</key>
			<string>Neuron</string>
			<key>Name</key>
			<string>hm_conv0/activation</string>
			<key>Bottom</key>
			<string>hm_conv0/bias</string>
		</dict>
		<key>pool1/maxpool</key>
		<dict>
			<key>OutputType</key>
			<string>UInt8</string>
			<key>Params</key>
			<dict>
				<key>PadTop</key>
				<integer>0</integer>
				<key>AverageCountExcludePadding</key>
				<false/>
				<key>PadLeft</key>
				<integer>0</integer>
				<key>Type</key>
				<string>Max</string>
				<key>KernelHeight</key>
				<integer>2</integer>
				<key>KernelWidth</key>
				<integer>2</integer>
				<key>Step</key>
				<array>
					<integer>2</integer>
					<integer>2</integer>
				</array>
				<key>PadBot</key>
				<integer>0</integer>
				<key>PadRight</key>
				<integer>0</integer>
			</dict>
			<key>Type</key>
			<string>Pooling</string>
			<key>Name</key>
			<string>pool1/maxpool</string>
			<key>Bottom</key>
			<string>hm_conv0/activation</string>
		</dict>
		<key>hm_conv1/hm_conv1_0/conv</key>
		<dict>
			<key>OutputChannels</key>
			<integer>64</integer>
			<key>Name</key>
			<string>hm_conv1/hm_conv1_0/conv</string>
			<key>Bottom</key>
			<string>pool1/maxpool</string>
			<key>NumGroups</key>
			<integer>1</integer>
			<key>OutputType</key>
			<string>UInt8</string>
			<key>Params</key>
			<dict>
				<key>KernelOffset</key>
				<integer>3398</integer>
				<key>PadLeft</key>
				<integer>2</integer>
				<key>PadBot</key>
				<integer>2</integer>
				<key>KernelHeight</key>
				<integer>5</integer>
				<key>PadTop</key>
				<integer>2</integer>
				<key>KernelWidth</key>
				<integer>5</integer>
				<key>Step</key>
				<array>
					<integer>1</integer>
					<integer>1</integer>
				</array>
				<key>KernelGroupReuse</key>
				<false/>
				<key>KernelType</key>
				<string>Int8</string>
				<key>Type</key>
				<string>Conv</string>
				<key>PadRight</key>
				<integer>2</integer>
			</dict>
			<key>Type</key>
			<string>Conv</string>
		</dict>
		<key>hm_conv1/hm_conv1_0/bias</key>
		<dict>
			<key>OutputType</key>
			<string>UInt8</string>
			<key>Params</key>
			<dict>
				<key>BiasShift</key>
				<integer>13</integer>
				<key>BiasScaleGroupData</key>
				<dict>
					<key>BiasOffset</key>
					<integer>105926</integer>
					<key>ScaleCount</key>
					<integer>64</integer>
					<key>ScaleOffset</key>
					<integer>105798</integer>
					<key>BiasCount</key>
					<integer>64</integer>
				</dict>
				<key>ScaleShift</key>
				<integer>9</integer>
			</dict>
			<key>Type</key>
			<string>GOC</string>
			<key>Name</key>
			<string>hm_conv1/hm_conv1_0/bias</string>
			<key>Bottom</key>
			<string>hm_conv1/hm_conv1_0/conv</string>
		</dict>
		<key>hm_conv1/hm_conv1_0/activation</key>
		<dict>
			<key>OutputType</key>
			<string>UInt8</string>
			<key>Params</key>
			<dict>
				<key>Type</key>
				<string>ReLU</string>
			</dict>
			<key>Type</key>
			<string>Neuron</string>
			<key>Name</key>
			<string>hm_conv1/hm_conv1_0/activation</string>
			<key>Bottom</key>
			<string>hm_conv1/hm_conv1_0/bias</string>
		</dict>
		<key>pool2/maxpool</key>
		<dict>
			<key>OutputType</key>
			<string>UInt8</string>
			<key>Params</key>
			<dict>
				<key>PadTop</key>
				<integer>0</integer>
				<key>AverageCountExcludePadding</key>
				<false/>
				<key>PadLeft</key>
				<integer>0</integer>
				<key>Type</key>
				<string>Max</string>
				<key>KernelHeight</key>
				<integer>2</integer>
				<key>KernelWidth</key>
				<integer>2</integer>
				<key>Step</key>
				<array>
					<integer>2</integer>
					<integer>2</integer>
				</array>
				<key>PadBot</key>
				<integer>0</integer>
				<key>PadRight</key>
				<integer>0</integer>
			</dict>
			<key>Type</key>
			<string>Pooling</string>
			<key>Name</key>
			<string>pool2/maxpool</string>
			<key>Bottom</key>
			<string>hm_conv1/hm_conv1_0/activation</string>
		</dict>
		<key>hm_conv2/hm_conv2_0/conv</key>
		<dict>
			<key>OutputChannels</key>
			<integer>64</integer>
			<key>Name</key>
			<string>hm_conv2/hm_conv2_0/conv</string>
			<key>Bottom</key>
			<string>pool2/maxpool</string>
			<key>NumGroups</key>
			<integer>1</integer>
			<key>OutputType</key>
			<string>UInt8</string>
			<key>Params</key>
			<dict>
				<key>KernelOffset</key>
				<integer>106054</integer>
				<key>PadLeft</key>
				<integer>2</integer>
				<key>PadBot</key>
				<integer>2</integer>
				<key>KernelHeight</key>
				<integer>5</integer>
				<key>PadTop</key>
				<integer>2</integer>
				<key>KernelWidth</key>
				<integer>5</integer>
				<key>Step</key>
				<array>
					<integer>1</integer>
					<integer>1</integer>
				</array>
				<key>KernelGroupReuse</key>
				<false/>
				<key>KernelType</key>
				<string>Int8</string>
				<key>Type</key>
				<string>Conv</string>
				<key>PadRight</key>
				<integer>2</integer>
			</dict>
			<key>Type</key>
			<string>Conv</string>
		</dict>
		<key>hm_conv2/hm_conv2_0/bias</key>
		<dict>
			<key>OutputType</key>
			<string>UInt8</string>
			<key>Params</key>
			<dict>
				<key>BiasShift</key>
				<integer>14</integer>
				<key>BiasScaleGroupData</key>
				<dict>
					<key>BiasOffset</key>
					<integer>208582</integer>
					<key>ScaleCount</key>
					<integer>64</integer>
					<key>ScaleOffset</key>
					<integer>208454</integer>
					<key>BiasCount</key>
					<integer>64</integer>
				</dict>
				<key>ScaleShift</key>
				<integer>10</integer>
			</dict>
			<key>Type</key>
			<string>GOC</string>
			<key>Name</key>
			<string>hm_conv2/hm_conv2_0/bias</string>
			<key>Bottom</key>
			<string>hm_conv2/hm_conv2_0/conv</string>
		</dict>
		<key>hm_conv2/hm_conv2_0/activation</key>
		<dict>
			<key>OutputType</key>
			<string>UInt8</string>
			<key>Params</key>
			<dict>
				<key>Type</key>
				<string>ReLU</string>
			</dict>
			<key>Type</key>
			<string>Neuron</string>
			<key>Name</key>
			<string>hm_conv2/hm_conv2_0/activation</string>
			<key>Bottom</key>
			<string>hm_conv2/hm_conv2_0/bias</string>
		</dict>
		<key>pool3/maxpool</key>
		<dict>
			<key>OutputType</key>
			<string>UInt8</string>
			<key>Params</key>
			<dict>
				<key>PadTop</key>
				<integer>0</integer>
				<key>AverageCountExcludePadding</key>
				<false/>
				<key>PadLeft</key>
				<integer>0</integer>
				<key>Type</key>
				<string>Max</string>
				<key>KernelHeight</key>
				<integer>2</integer>
				<key>KernelWidth</key>
				<integer>2</integer>
				<key>Step</key>
				<array>
					<integer>2</integer>
					<integer>2</integer>
				</array>
				<key>PadBot</key>
				<integer>0</integer>
				<key>PadRight</key>
				<integer>0</integer>
			</dict>
			<key>Type</key>
			<string>Pooling</string>
			<key>Name</key>
			<string>pool3/maxpool</string>
			<key>Bottom</key>
			<string>hm_conv2/hm_conv2_0/activation</string>
		</dict>
		<key>hm_conv3/conv</key>
		<dict>
			<key>OutputChannels</key>
			<integer>64</integer>
			<key>Name</key>
			<string>hm_conv3/conv</string>
			<key>Bottom</key>
			<string>pool3/maxpool</string>
			<key>NumGroups</key>
			<integer>1</integer>
			<key>OutputType</key>
			<string>UInt8</string>
			<key>Params</key>
			<dict>
				<key>KernelOffset</key>
				<integer>208710</integer>
				<key>PadLeft</key>
				<integer>1</integer>
				<key>PadBot</key>
				<integer>1</integer>
				<key>KernelHeight</key>
				<integer>3</integer>
				<key>PadTop</key>
				<integer>1</integer>
				<key>KernelWidth</key>
				<integer>3</integer>
				<key>Step</key>
				<array>
					<integer>1</integer>
					<integer>1</integer>
				</array>
				<key>KernelGroupReuse</key>
				<false/>
				<key>KernelType</key>
				<string>Int8</string>
				<key>Type</key>
				<string>Conv</string>
				<key>PadRight</key>
				<integer>1</integer>
			</dict>
			<key>Type</key>
			<string>Conv</string>
		</dict>
		<key>hm_conv3/bias</key>
		<dict>
			<key>OutputType</key>
			<string>UInt8</string>
			<key>Params</key>
			<dict>
				<key>BiasShift</key>
				<integer>14</integer>
				<key>BiasScaleGroupData</key>
				<dict>
					<key>BiasOffset</key>
					<integer>245702</integer>
					<key>ScaleCount</key>
					<integer>64</integer>
					<key>ScaleOffset</key>
					<integer>245574</integer>
					<key>BiasCount</key>
					<integer>64</integer>
				</dict>
				<key>ScaleShift</key>
				<integer>10</integer>
			</dict>
			<key>Type</key>
			<string>GOC</string>
			<key>Name</key>
			<string>hm_conv3/bias</string>
			<key>Bottom</key>
			<string>hm_conv3/conv</string>
		</dict>
		<key>hm_conv3/activation</key>
		<dict>
			<key>OutputType</key>
			<string>UInt8</string>
			<key>Params</key>
			<dict>
				<key>Type</key>
				<string>ReLU</string>
			</dict>
			<key>Type</key>
			<string>Neuron</string>
			<key>Name</key>
			<string>hm_conv3/activation</string>
			<key>Bottom</key>
			<string>hm_conv3/bias</string>
		</dict>
		<key>hm_conv4/hm_conv4_0/conv</key>
		<dict>
			<key>OutputChannels</key>
			<integer>64</integer>
			<key>Name</key>
			<string>hm_conv4/hm_conv4_0/conv</string>
			<key>Bottom</key>
			<string>hm_conv3/activation</string>
			<key>NumGroups</key>
			<integer>1</integer>
			<key>OutputType</key>
			<string>UInt8</string>
			<key>Params</key>
			<dict>
				<key>KernelOffset</key>
				<integer>245830</integer>
				<key>PadLeft</key>
				<integer>2</integer>
				<key>PadBot</key>
				<integer>2</integer>
				<key>KernelHeight</key>
				<integer>5</integer>
				<key>PadTop</key>
				<integer>2</integer>
				<key>KernelWidth</key>
				<integer>5</integer>
				<key>Step</key>
				<array>
					<integer>1</integer>
					<integer>1</integer>
				</array>
				<key>KernelGroupReuse</key>
				<false/>
				<key>KernelType</key>
				<string>Int8</string>
				<key>Type</key>
				<string>Conv</string>
				<key>PadRight</key>
				<integer>2</integer>
			</dict>
			<key>Type</key>
			<string>Conv</string>
		</dict>
		<key>hm_conv4/hm_conv4_0/bias</key>
		<dict>
			<key>OutputType</key>
			<string>UInt8</string>
			<key>Params</key>
			<dict>
				<key>BiasShift</key>
				<integer>14</integer>
				<key>BiasScaleGroupData</key>
				<dict>
					<key>BiasOffset</key>
					<integer>348358</integer>
					<key>ScaleCount</key>
					<integer>64</integer>
					<key>ScaleOffset</key>
					<integer>348230</integer>
					<key>BiasCount</key>
					<integer>64</integer>
				</dict>
				<key>ScaleShift</key>
				<integer>9</integer>
			</dict>
			<key>Type</key>
			<string>GOC</string>
			<key>Name</key>
			<string>hm_conv4/hm_conv4_0/bias</string>
			<key>Bottom</key>
			<string>hm_conv4/hm_conv4_0/conv</string>
		</dict>
		<key>hm_conv4/hm_conv4_0/activation</key>
		<dict>
			<key>OutputType</key>
			<string>UInt8</string>
			<key>Params</key>
			<dict>
				<key>Type</key>
				<string>ReLU</string>
			</dict>
			<key>Type</key>
			<string>Neuron</string>
			<key>Name</key>
			<string>hm_conv4/hm_conv4_0/activation</string>
			<key>Bottom</key>
			<string>hm_conv4/hm_conv4_0/bias</string>
		</dict>
		<key>hm_conv5/hm_conv5_1/conv</key>
		<dict>
			<key>OutputChannels</key>
			<integer>32</integer>
			<key>Name</key>
			<string>hm_conv5/hm_conv5_1/conv</string>
			<key>Bottom</key>
			<string>hm_conv4/hm_conv4_0/activation</string>
			<key>NumGroups</key>
			<integer>1</integer>
			<key>OutputType</key>
			<string>UInt8</string>
			<key>Params</key>
			<dict>
				<key>KernelOffset</key>
				<integer>348486</integer>
				<key>PadLeft</key>
				<integer>3</integer>
				<key>PadBot</key>
				<integer>3</integer>
				<key>KernelHeight</key>
				<integer>7</integer>
				<key>PadTop</key>
				<integer>3</integer>
				<key>KernelWidth</key>
				<integer>7</integer>
				<key>Step</key>
				<array>
					<integer>1</integer>
					<integer>1</integer>
				</array>
				<key>KernelGroupReuse</key>
				<false/>
				<key>KernelType</key>
				<string>Int8</string>
				<key>Type</key>
				<string>Conv</string>
				<key>PadRight</key>
				<integer>3</integer>
			</dict>
			<key>Type</key>
			<string>Conv</string>
		</dict>
		<key>hm_conv5/hm_conv5_1/bias</key>
		<dict>
			<key>OutputType</key>
			<string>UInt8</string>
			<key>Params</key>
			<dict>
				<key>BiasShift</key>
				<integer>15</integer>
				<key>BiasScaleGroupData</key>
				<dict>
					<key>BiasOffset</key>
					<integer>448902</integer>
					<key>ScaleCount</key>
					<integer>32</integer>
					<key>ScaleOffset</key>
					<integer>448838</integer>
					<key>BiasCount</key>
					<integer>32</integer>
				</dict>
				<key>ScaleShift</key>
				<integer>24</integer>
			</dict>
			<key>Type</key>
			<string>GOC</string>
			<key>Name</key>
			<string>hm_conv5/hm_conv5_1/bias</string>
			<key>Bottom</key>
			<string>hm_conv5/hm_conv5_1/conv</string>
		</dict>
		<key>hm_conv5/hm_conv5_1/activation</key>
		<dict>
			<key>OutputType</key>
			<string>UInt8</string>
			<key>Params</key>
			<dict>
				<key>Type</key>
				<string>ReLU</string>
			</dict>
			<key>Type</key>
			<string>Neuron</string>
			<key>Name</key>
			<string>hm_conv5/hm_conv5_1/activation</string>
			<key>Bottom</key>
			<string>hm_conv5/hm_conv5_1/bias</string>
		</dict>
		<key>hm_conv5/hm_conv5_0/conv</key>
		<dict>
			<key>OutputChannels</key>
			<integer>32</integer>
			<key>Name</key>
			<string>hm_conv5/hm_conv5_0/conv</string>
			<key>Bottom</key>
			<string>hm_conv4/hm_conv4_0/activation</string>
			<key>NumGroups</key>
			<integer>1</integer>
			<key>OutputType</key>
			<string>UInt8</string>
			<key>Params</key>
			<dict>
				<key>KernelOffset</key>
				<integer>448966</integer>
				<key>PadLeft</key>
				<integer>3</integer>
				<key>PadBot</key>
				<integer>3</integer>
				<key>KernelHeight</key>
				<integer>7</integer>
				<key>PadTop</key>
				<integer>3</integer>
				<key>KernelWidth</key>
				<integer>7</integer>
				<key>Step</key>
				<array>
					<integer>1</integer>
					<integer>1</integer>
				</array>
				<key>KernelGroupReuse</key>
				<false/>
				<key>KernelType</key>
				<string>Int8</string>
				<key>Type</key>
				<string>Conv</string>
				<key>PadRight</key>
				<integer>3</integer>
			</dict>
			<key>Type</key>
			<string>Conv</string>
		</dict>
		<key>hm_conv5/hm_conv5_0/bias</key>
		<dict>
			<key>OutputType</key>
			<string>UInt8</string>
			<key>Params</key>
			<dict>
				<key>BiasShift</key>
				<integer>15</integer>
				<key>BiasScaleGroupData</key>
				<dict>
					<key>BiasOffset</key>
					<integer>549382</integer>
					<key>ScaleCount</key>
					<integer>32</integer>
					<key>ScaleOffset</key>
					<integer>549318</integer>
					<key>BiasCount</key>
					<integer>32</integer>
				</dict>
				<key>ScaleShift</key>
				<integer>24</integer>
			</dict>
			<key>Type</key>
			<string>GOC</string>
			<key>Name</key>
			<string>hm_conv5/hm_conv5_0/bias</string>
			<key>Bottom</key>
			<string>hm_conv5/hm_conv5_0/conv</string>
		</dict>
		<key>hm_conv5/hm_conv5_0/activation</key>
		<dict>
			<key>OutputType</key>
			<string>UInt8</string>
			<key>Params</key>
			<dict>
				<key>Type</key>
				<string>ReLU</string>
			</dict>
			<key>Type</key>
			<string>Neuron</string>
			<key>Name</key>
			<string>hm_conv5/hm_conv5_0/activation</string>
			<key>Bottom</key>
			<string>hm_conv5/hm_conv5_0/bias</string>
		</dict>
		<key>hm_conv5/concat</key>
		<dict>
			<key>OutputType</key>
			<string>UInt8</string>
			<key>Type</key>
			<string>Concat</string>
			<key>Name</key>
			<string>hm_conv5/concat</string>
			<key>Bottom</key>
			<array>
				<string>hm_conv5/hm_conv5_0/activation</string>
				<string>hm_conv5/hm_conv5_1/activation</string>
			</array>
		</dict>
		<key>hm_conv6/conv</key>
		<dict>
			<key>OutputChannels</key>
			<integer>64</integer>
			<key>Name</key>
			<string>hm_conv6/conv</string>
			<key>Bottom</key>
			<string>hm_conv5/concat</string>
			<key>NumGroups</key>
			<integer>1</integer>
			<key>OutputType</key>
			<string>UInt8</string>
			<key>Params</key>
			<dict>
				<key>KernelOffset</key>
				<integer>549446</integer>
				<key>PadLeft</key>
				<integer>0</integer>
				<key>PadBot</key>
				<integer>0</integer>
				<key>KernelHeight</key>
				<integer>1</integer>
				<key>PadTop</key>
				<integer>0</integer>
				<key>KernelWidth</key>
				<integer>1</integer>
				<key>Step</key>
				<array>
					<integer>1</integer>
					<integer>1</integer>
				</array>
				<key>KernelGroupReuse</key>
				<false/>
				<key>KernelType</key>
				<string>Int8</string>
				<key>Type</key>
				<string>Conv</string>
				<key>PadRight</key>
				<integer>0</integer>
			</dict>
			<key>Type</key>
			<string>Conv</string>
		</dict>
		<key>hm_conv6/bias</key>
		<dict>
			<key>OutputType</key>
			<string>UInt8</string>
			<key>Params</key>
			<dict>
				<key>BiasShift</key>
				<integer>15</integer>
				<key>BiasScaleGroupData</key>
				<dict>
					<key>BiasOffset</key>
					<integer>553670</integer>
					<key>ScaleCount</key>
					<integer>64</integer>
					<key>ScaleOffset</key>
					<integer>553542</integer>
					<key>BiasCount</key>
					<integer>64</integer>
				</dict>
				<key>ScaleShift</key>
				<integer>22</integer>
			</dict>
			<key>Type</key>
			<string>GOC</string>
			<key>Name</key>
			<string>hm_conv6/bias</string>
			<key>Bottom</key>
			<string>hm_conv6/conv</string>
		</dict>
		<key>hm_conv6/activation</key>
		<dict>
			<key>OutputType</key>
			<string>UInt8</string>
			<key>Params</key>
			<dict>
				<key>Type</key>
				<string>ReLU</string>
			</dict>
			<key>Type</key>
			<string>Neuron</string>
			<key>Name</key>
			<string>hm_conv6/activation</string>
			<key>Bottom</key>
			<string>hm_conv6/bias</string>
		</dict>
		<key>hm_conv7/conv</key>
		<dict>
			<key>OutputChannels</key>
			<integer>64</integer>
			<key>Name</key>
			<string>hm_conv7/conv</string>
			<key>Bottom</key>
			<string>hm_conv6/activation</string>
			<key>NumGroups</key>
			<integer>1</integer>
			<key>OutputType</key>
			<string>UInt8</string>
			<key>Params</key>
			<dict>
				<key>KernelOffset</key>
				<integer>553798</integer>
				<key>PadLeft</key>
				<integer>0</integer>
				<key>PadBot</key>
				<integer>0</integer>
				<key>KernelHeight</key>
				<integer>1</integer>
				<key>PadTop</key>
				<integer>0</integer>
				<key>KernelWidth</key>
				<integer>1</integer>
				<key>Step</key>
				<array>
					<integer>1</integer>
					<integer>1</integer>
				</array>
				<key>KernelGroupReuse</key>
				<false/>
				<key>KernelType</key>
				<string>Int8</string>
				<key>Type</key>
				<string>Conv</string>
				<key>PadRight</key>
				<integer>0</integer>
			</dict>
			<key>Type</key>
			<string>Conv</string>
		</dict>
		<key>hm_conv7/bias</key>
		<dict>
			<key>OutputType</key>
			<string>UInt8</string>
			<key>Params</key>
			<dict>
				<key>BiasShift</key>
				<integer>12</integer>
				<key>BiasScaleGroupData</key>
				<dict>
					<key>BiasOffset</key>
					<integer>558022</integer>
					<key>ScaleCount</key>
					<integer>64</integer>
					<key>ScaleOffset</key>
					<integer>557894</integer>
					<key>BiasCount</key>
					<integer>64</integer>
				</dict>
				<key>ScaleShift</key>
				<integer>9</integer>
			</dict>
			<key>Type</key>
			<string>GOC</string>
			<key>Name</key>
			<string>hm_conv7/bias</string>
			<key>Bottom</key>
			<string>hm_conv7/conv</string>
		</dict>
		<key>hm_conv7/activation</key>
		<dict>
			<key>OutputType</key>
			<string>UInt8</string>
			<key>Params</key>
			<dict>
				<key>Type</key>
				<string>ReLU</string>
			</dict>
			<key>Type</key>
			<string>Neuron</string>
			<key>Name</key>
			<string>hm_conv7/activation</string>
			<key>Bottom</key>
			<string>hm_conv7/bias</string>
		</dict>
		<key>concat/concat</key>
		<dict>
			<key>OutputType</key>
			<string>UInt8</string>
			<key>Type</key>
			<string>Concat</string>
			<key>Name</key>
			<string>concat/concat</string>
			<key>Bottom</key>
			<array>
				<string>hm_conv3/activation</string>
				<string>hm_conv7/activation</string>
			</array>
		</dict>
		<key>hm_conv1_f/hm_conv1_f_1/conv</key>
		<dict>
			<key>OutputChannels</key>
			<integer>32</integer>
			<key>Name</key>
			<string>hm_conv1_f/hm_conv1_f_1/conv</string>
			<key>Bottom</key>
			<string>concat/concat</string>
			<key>NumGroups</key>
			<integer>1</integer>
			<key>OutputType</key>
			<string>UInt8</string>
			<key>Params</key>
			<dict>
				<key>KernelOffset</key>
				<integer>558150</integer>
				<key>PadLeft</key>
				<integer>2</integer>
				<key>PadBot</key>
				<integer>2</integer>
				<key>KernelHeight</key>
				<integer>5</integer>
				<key>PadTop</key>
				<integer>2</integer>
				<key>KernelWidth</key>
				<integer>5</integer>
				<key>Step</key>
				<array>
					<integer>1</integer>
					<integer>1</integer>
				</array>
				<key>KernelGroupReuse</key>
				<false/>
				<key>KernelType</key>
				<string>Int8</string>
				<key>Type</key>
				<string>Conv</string>
				<key>PadRight</key>
				<integer>2</integer>
			</dict>
			<key>Type</key>
			<string>Conv</string>
		</dict>
		<key>hm_conv1_f/hm_conv1_f_1/bias</key>
		<dict>
			<key>OutputType</key>
			<string>UInt8</string>
			<key>Params</key>
			<dict>
				<key>BiasShift</key>
				<integer>15</integer>
				<key>BiasScaleGroupData</key>
				<dict>
					<key>BiasOffset</key>
					<integer>660614</integer>
					<key>ScaleCount</key>
					<integer>32</integer>
					<key>ScaleOffset</key>
					<integer>660550</integer>
					<key>BiasCount</key>
					<integer>32</integer>
				</dict>
				<key>ScaleShift</key>
				<integer>12</integer>
			</dict>
			<key>Type</key>
			<string>GOC</string>
			<key>Name</key>
			<string>hm_conv1_f/hm_conv1_f_1/bias</string>
			<key>Bottom</key>
			<string>hm_conv1_f/hm_conv1_f_1/conv</string>
		</dict>
		<key>hm_conv1_f/hm_conv1_f_1/activation</key>
		<dict>
			<key>OutputType</key>
			<string>UInt8</string>
			<key>Params</key>
			<dict>
				<key>Type</key>
				<string>ReLU</string>
			</dict>
			<key>Type</key>
			<string>Neuron</string>
			<key>Name</key>
			<string>hm_conv1_f/hm_conv1_f_1/activation</string>
			<key>Bottom</key>
			<string>hm_conv1_f/hm_conv1_f_1/bias</string>
		</dict>
		<key>hm_conv1_f/hm_conv1_f_0/conv</key>
		<dict>
			<key>OutputChannels</key>
			<integer>32</integer>
			<key>Name</key>
			<string>hm_conv1_f/hm_conv1_f_0/conv</string>
			<key>Bottom</key>
			<string>concat/concat</string>
			<key>NumGroups</key>
			<integer>1</integer>
			<key>OutputType</key>
			<string>UInt8</string>
			<key>Params</key>
			<dict>
				<key>KernelOffset</key>
				<integer>660678</integer>
				<key>PadLeft</key>
				<integer>2</integer>
				<key>PadBot</key>
				<integer>2</integer>
				<key>KernelHeight</key>
				<integer>5</integer>
				<key>PadTop</key>
				<integer>2</integer>
				<key>KernelWidth</key>
				<integer>5</integer>
				<key>Step</key>
				<array>
					<integer>1</integer>
					<integer>1</integer>
				</array>
				<key>KernelGroupReuse</key>
				<false/>
				<key>KernelType</key>
				<string>Int8</string>
				<key>Type</key>
				<string>Conv</string>
				<key>PadRight</key>
				<integer>2</integer>
			</dict>
			<key>Type</key>
			<string>Conv</string>
		</dict>
		<key>hm_conv1_f/hm_conv1_f_0/bias</key>
		<dict>
			<key>OutputType</key>
			<string>UInt8</string>
			<key>Params</key>
			<dict>
				<key>BiasShift</key>
				<integer>15</integer>
				<key>BiasScaleGroupData</key>
				<dict>
					<key>BiasOffset</key>
					<integer>763142</integer>
					<key>ScaleCount</key>
					<integer>32</integer>
					<key>ScaleOffset</key>
					<integer>763078</integer>
					<key>BiasCount</key>
					<integer>32</integer>
				</dict>
				<key>ScaleShift</key>
				<integer>11</integer>
			</dict>
			<key>Type</key>
			<string>GOC</string>
			<key>Name</key>
			<string>hm_conv1_f/hm_conv1_f_0/bias</string>
			<key>Bottom</key>
			<string>hm_conv1_f/hm_conv1_f_0/conv</string>
		</dict>
		<key>hm_conv1_f/hm_conv1_f_0/activation</key>
		<dict>
			<key>OutputType</key>
			<string>UInt8</string>
			<key>Params</key>
			<dict>
				<key>Type</key>
				<string>ReLU</string>
			</dict>
			<key>Type</key>
			<string>Neuron</string>
			<key>Name</key>
			<string>hm_conv1_f/hm_conv1_f_0/activation</string>
			<key>Bottom</key>
			<string>hm_conv1_f/hm_conv1_f_0/bias</string>
		</dict>
		<key>hm_conv1_f/concat</key>
		<dict>
			<key>OutputType</key>
			<string>UInt8</string>
			<key>Type</key>
			<string>Concat</string>
			<key>Name</key>
			<string>hm_conv1_f/concat</string>
			<key>Bottom</key>
			<array>
				<string>hm_conv1_f/hm_conv1_f_0/activation</string>
				<string>hm_conv1_f/hm_conv1_f_1/activation</string>
			</array>
		</dict>
		<key>hm_conv2_f/hm_conv2_f_1/conv</key>
		<dict>
			<key>OutputChannels</key>
			<integer>32</integer>
			<key>Name</key>
			<string>hm_conv2_f/hm_conv2_f_1/conv</string>
			<key>Bottom</key>
			<string>hm_conv1_f/concat</string>
			<key>NumGroups</key>
			<integer>1</integer>
			<key>OutputType</key>
			<string>UInt8</string>
			<key>Params</key>
			<dict>
				<key>KernelOffset</key>
				<integer>763206</integer>
				<key>PadLeft</key>
				<integer>3</integer>
				<key>PadBot</key>
				<integer>3</integer>
				<key>KernelHeight</key>
				<integer>7</integer>
				<key>PadTop</key>
				<integer>3</integer>
				<key>KernelWidth</key>
				<integer>7</integer>
				<key>Step</key>
				<array>
					<integer>1</integer>
					<integer>1</integer>
				</array>
				<key>KernelGroupReuse</key>
				<false/>
				<key>KernelType</key>
				<string>Int8</string>
				<key>Type</key>
				<string>Conv</string>
				<key>PadRight</key>
				<integer>3</integer>
			</dict>
			<key>Type</key>
			<string>Conv</string>
		</dict>
		<key>hm_conv2_f/hm_conv2_f_1/bias</key>
		<dict>
			<key>OutputType</key>
			<string>UInt8</string>
			<key>Params</key>
			<dict>
				<key>BiasShift</key>
				<integer>15</integer>
				<key>BiasScaleGroupData</key>
				<dict>
					<key>BiasOffset</key>
					<integer>863622</integer>
					<key>ScaleCount</key>
					<integer>32</integer>
					<key>ScaleOffset</key>
					<integer>863558</integer>
					<key>BiasCount</key>
					<integer>32</integer>
				</dict>
				<key>ScaleShift</key>
				<integer>23</integer>
			</dict>
			<key>Type</key>
			<string>GOC</string>
			<key>Name</key>
			<string>hm_conv2_f/hm_conv2_f_1/bias</string>
			<key>Bottom</key>
			<string>hm_conv2_f/hm_conv2_f_1/conv</string>
		</dict>
		<key>hm_conv2_f/hm_conv2_f_1/activation</key>
		<dict>
			<key>OutputType</key>
			<string>UInt8</string>
			<key>Params</key>
			<dict>
				<key>Type</key>
				<string>ReLU</string>
			</dict>
			<key>Type</key>
			<string>Neuron</string>
			<key>Name</key>
			<string>hm_conv2_f/hm_conv2_f_1/activation</string>
			<key>Bottom</key>
			<string>hm_conv2_f/hm_conv2_f_1/bias</string>
		</dict>
		<key>hm_conv2_f/hm_conv2_f_0/conv</key>
		<dict>
			<key>OutputChannels</key>
			<integer>32</integer>
			<key>Name</key>
			<string>hm_conv2_f/hm_conv2_f_0/conv</string>
			<key>Bottom</key>
			<string>hm_conv1_f/concat</string>
			<key>NumGroups</key>
			<integer>1</integer>
			<key>OutputType</key>
			<string>UInt8</string>
			<key>Params</key>
			<dict>
				<key>KernelOffset</key>
				<integer>863686</integer>
				<key>PadLeft</key>
				<integer>3</integer>
				<key>PadBot</key>
				<integer>3</integer>
				<key>KernelHeight</key>
				<integer>7</integer>
				<key>PadTop</key>
				<integer>3</integer>
				<key>KernelWidth</key>
				<integer>7</integer>
				<key>Step</key>
				<array>
					<integer>1</integer>
					<integer>1</integer>
				</array>
				<key>KernelGroupReuse</key>
				<false/>
				<key>KernelType</key>
				<string>Int8</string>
				<key>Type</key>
				<string>Conv</string>
				<key>PadRight</key>
				<integer>3</integer>
			</dict>
			<key>Type</key>
			<string>Conv</string>
		</dict>
		<key>hm_conv2_f/hm_conv2_f_0/bias</key>
		<dict>
			<key>OutputType</key>
			<string>UInt8</string>
			<key>Params</key>
			<dict>
				<key>BiasShift</key>
				<integer>15</integer>
				<key>BiasScaleGroupData</key>
				<dict>
					<key>BiasOffset</key>
					<integer>964102</integer>
					<key>ScaleCount</key>
					<integer>32</integer>
					<key>ScaleOffset</key>
					<integer>964038</integer>
					<key>BiasCount</key>
					<integer>32</integer>
				</dict>
				<key>ScaleShift</key>
				<integer>23</integer>
			</dict>
			<key>Type</key>
			<string>GOC</string>
			<key>Name</key>
			<string>hm_conv2_f/hm_conv2_f_0/bias</string>
			<key>Bottom</key>
			<string>hm_conv2_f/hm_conv2_f_0/conv</string>
		</dict>
		<key>hm_conv2_f/hm_conv2_f_0/activation</key>
		<dict>
			<key>OutputType</key>
			<string>UInt8</string>
			<key>Params</key>
			<dict>
				<key>Type</key>
				<string>ReLU</string>
			</dict>
			<key>Type</key>
			<string>Neuron</string>
			<key>Name</key>
			<string>hm_conv2_f/hm_conv2_f_0/activation</string>
			<key>Bottom</key>
			<string>hm_conv2_f/hm_conv2_f_0/bias</string>
		</dict>
		<key>hm_conv2_f/concat</key>
		<dict>
			<key>OutputType</key>
			<string>UInt8</string>
			<key>Type</key>
			<string>Concat</string>
			<key>Name</key>
			<string>hm_conv2_f/concat</string>
			<key>Bottom</key>
			<array>
				<string>hm_conv2_f/hm_conv2_f_0/activation</string>
				<string>hm_conv2_f/hm_conv2_f_1/activation</string>
			</array>
		</dict>
		<key>hm_conv3_f/hm_conv3_f_1/conv</key>
		<dict>
			<key>OutputChannels</key>
			<integer>32</integer>
			<key>Name</key>
			<string>hm_conv3_f/hm_conv3_f_1/conv</string>
			<key>Bottom</key>
			<string>hm_conv2_f/concat</string>
			<key>NumGroups</key>
			<integer>1</integer>
			<key>OutputType</key>
			<string>UInt8</string>
			<key>Params</key>
			<dict>
				<key>KernelOffset</key>
				<integer>964166</integer>
				<key>PadLeft</key>
				<integer>3</integer>
				<key>PadBot</key>
				<integer>3</integer>
				<key>KernelHeight</key>
				<integer>7</integer>
				<key>PadTop</key>
				<integer>3</integer>
				<key>KernelWidth</key>
				<integer>7</integer>
				<key>Step</key>
				<array>
					<integer>1</integer>
					<integer>1</integer>
				</array>
				<key>KernelGroupReuse</key>
				<false/>
				<key>KernelType</key>
				<string>Int8</string>
				<key>Type</key>
				<string>Conv</string>
				<key>PadRight</key>
				<integer>3</integer>
			</dict>
			<key>Type</key>
			<string>Conv</string>
		</dict>
		<key>hm_conv3_f/hm_conv3_f_1/bias</key>
		<dict>
			<key>OutputType</key>
			<string>UInt8</string>
			<key>Params</key>
			<dict>
				<key>BiasShift</key>
				<integer>15</integer>
				<key>BiasScaleGroupData</key>
				<dict>
					<key>BiasOffset</key>
					<integer>1064582</integer>
					<key>ScaleCount</key>
					<integer>32</integer>
					<key>ScaleOffset</key>
					<integer>1064518</integer>
					<key>BiasCount</key>
					<integer>32</integer>
				</dict>
				<key>ScaleShift</key>
				<integer>23</integer>
			</dict>
			<key>Type</key>
			<string>GOC</string>
			<key>Name</key>
			<string>hm_conv3_f/hm_conv3_f_1/bias</string>
			<key>Bottom</key>
			<string>hm_conv3_f/hm_conv3_f_1/conv</string>
		</dict>
		<key>hm_conv3_f/hm_conv3_f_1/activation</key>
		<dict>
			<key>OutputType</key>
			<string>UInt8</string>
			<key>Params</key>
			<dict>
				<key>Type</key>
				<string>ReLU</string>
			</dict>
			<key>Type</key>
			<string>Neuron</string>
			<key>Name</key>
			<string>hm_conv3_f/hm_conv3_f_1/activation</string>
			<key>Bottom</key>
			<string>hm_conv3_f/hm_conv3_f_1/bias</string>
		</dict>
		<key>hm_conv3_f/hm_conv3_f_0/conv</key>
		<dict>
			<key>OutputChannels</key>
			<integer>32</integer>
			<key>Name</key>
			<string>hm_conv3_f/hm_conv3_f_0/conv</string>
			<key>Bottom</key>
			<string>hm_conv2_f/concat</string>
			<key>NumGroups</key>
			<integer>1</integer>
			<key>OutputType</key>
			<string>UInt8</string>
			<key>Params</key>
			<dict>
				<key>KernelOffset</key>
				<integer>1064646</integer>
				<key>PadLeft</key>
				<integer>3</integer>
				<key>PadBot</key>
				<integer>3</integer>
				<key>KernelHeight</key>
				<integer>7</integer>
				<key>PadTop</key>
				<integer>3</integer>
				<key>KernelWidth</key>
				<integer>7</integer>
				<key>Step</key>
				<array>
					<integer>1</integer>
					<integer>1</integer>
				</array>
				<key>KernelGroupReuse</key>
				<false/>
				<key>KernelType</key>
				<string>Int8</string>
				<key>Type</key>
				<string>Conv</string>
				<key>PadRight</key>
				<integer>3</integer>
			</dict>
			<key>Type</key>
			<string>Conv</string>
		</dict>
		<key>hm_conv3_f/hm_conv3_f_0/bias</key>
		<dict>
			<key>OutputType</key>
			<string>UInt8</string>
			<key>Params</key>
			<dict>
				<key>BiasShift</key>
				<integer>15</integer>
				<key>BiasScaleGroupData</key>
				<dict>
					<key>BiasOffset</key>
					<integer>1165062</integer>
					<key>ScaleCount</key>
					<integer>32</integer>
					<key>ScaleOffset</key>
					<integer>1164998</integer>
					<key>BiasCount</key>
					<integer>32</integer>
				</dict>
				<key>ScaleShift</key>
				<integer>23</integer>
			</dict>
			<key>Type</key>
			<string>GOC</string>
			<key>Name</key>
			<string>hm_conv3_f/hm_conv3_f_0/bias</string>
			<key>Bottom</key>
			<string>hm_conv3_f/hm_conv3_f_0/conv</string>
		</dict>
		<key>hm_conv3_f/hm_conv3_f_0/activation</key>
		<dict>
			<key>OutputType</key>
			<string>UInt8</string>
			<key>Params</key>
			<dict>
				<key>Type</key>
				<string>ReLU</string>
			</dict>
			<key>Type</key>
			<string>Neuron</string>
			<key>Name</key>
			<string>hm_conv3_f/hm_conv3_f_0/activation</string>
			<key>Bottom</key>
			<string>hm_conv3_f/hm_conv3_f_0/bias</string>
		</dict>
		<key>hm_conv3_f/concat</key>
		<dict>
			<key>OutputType</key>
			<string>UInt8</string>
			<key>Type</key>
			<string>Concat</string>
			<key>Name</key>
			<string>hm_conv3_f/concat</string>
			<key>Bottom</key>
			<array>
				<string>hm_conv3_f/hm_conv3_f_0/activation</string>
				<string>hm_conv3_f/hm_conv3_f_1/activation</string>
			</array>
		</dict>
		<key>hm_conv4_f/conv</key>
		<dict>
			<key>OutputChannels</key>
			<integer>64</integer>
			<key>Name</key>
			<string>hm_conv4_f/conv</string>
			<key>Bottom</key>
			<string>hm_conv3_f/concat</string>
			<key>NumGroups</key>
			<integer>1</integer>
			<key>OutputType</key>
			<string>UInt8</string>
			<key>Params</key>
			<dict>
				<key>KernelOffset</key>
				<integer>1165126</integer>
				<key>PadLeft</key>
				<integer>0</integer>
				<key>PadBot</key>
				<integer>0</integer>
				<key>KernelHeight</key>
				<integer>1</integer>
				<key>PadTop</key>
				<integer>0</integer>
				<key>KernelWidth</key>
				<integer>1</integer>
				<key>Step</key>
				<array>
					<integer>1</integer>
					<integer>1</integer>
				</array>
				<key>KernelGroupReuse</key>
				<false/>
				<key>KernelType</key>
				<string>Int8</string>
				<key>Type</key>
				<string>Conv</string>
				<key>PadRight</key>
				<integer>0</integer>
			</dict>
			<key>Type</key>
			<string>Conv</string>
		</dict>
		<key>hm_conv4_f/bias</key>
		<dict>
			<key>OutputType</key>
			<string>UInt8</string>
			<key>Params</key>
			<dict>
				<key>BiasShift</key>
				<integer>12</integer>
				<key>BiasScaleGroupData</key>
				<dict>
					<key>BiasOffset</key>
					<integer>1169350</integer>
					<key>ScaleCount</key>
					<integer>64</integer>
					<key>ScaleOffset</key>
					<integer>1169222</integer>
					<key>BiasCount</key>
					<integer>64</integer>
				</dict>
				<key>ScaleShift</key>
				<integer>8</integer>
			</dict>
			<key>Type</key>
			<string>GOC</string>
			<key>Name</key>
			<string>hm_conv4_f/bias</string>
			<key>Bottom</key>
			<string>hm_conv4_f/conv</string>
		</dict>
		<key>hm_conv4_f/activation</key>
		<dict>
			<key>OutputType</key>
			<string>UInt8</string>
			<key>Params</key>
			<dict>
				<key>Type</key>
				<string>ReLU</string>
			</dict>
			<key>Type</key>
			<string>Neuron</string>
			<key>Name</key>
			<string>hm_conv4_f/activation</string>
			<key>Bottom</key>
			<string>hm_conv4_f/bias</string>
		</dict>
		<key>final_map/Conv2D/conv</key>
		<dict>
			<key>OutputChannels</key>
			<integer>8</integer>
			<key>Name</key>
			<string>final_map/Conv2D/conv</string>
			<key>Bottom</key>
			<string>hm_conv4_f/activation</string>
			<key>NumGroups</key>
			<integer>1</integer>
			<key>OutputType</key>
			<string>Int8</string>
			<key>Params</key>
			<dict>
				<key>KernelOffset</key>
				<integer>1169478</integer>
				<key>PadLeft</key>
				<integer>0</integer>
				<key>PadBot</key>
				<integer>0</integer>
				<key>KernelHeight</key>
				<integer>1</integer>
				<key>PadTop</key>
				<integer>0</integer>
				<key>KernelWidth</key>
				<integer>1</integer>
				<key>Step</key>
				<array>
					<integer>1</integer>
					<integer>1</integer>
				</array>
				<key>KernelGroupReuse</key>
				<false/>
				<key>KernelType</key>
				<string>Int8</string>
				<key>Type</key>
				<string>Conv</string>
				<key>PadRight</key>
				<integer>0</integer>
			</dict>
			<key>Type</key>
			<string>Conv</string>
		</dict>
		<key>final_map/Conv2D/bias</key>
		<dict>
			<key>OutputType</key>
			<string>Int8</string>
			<key>Params</key>
			<dict>
				<key>BiasShift</key>
				<integer>13</integer>
				<key>BiasScaleGroupData</key>
				<dict>
					<key>BiasOffset</key>
					<integer>1170006</integer>
					<key>ScaleCount</key>
					<integer>8</integer>
					<key>ScaleOffset</key>
					<integer>1169990</integer>
					<key>BiasCount</key>
					<integer>8</integer>
				</dict>
				<key>ScaleShift</key>
				<integer>11</integer>
			</dict>
			<key>Type</key>
			<string>GOC</string>
			<key>Name</key>
			<string>final_map/Conv2D/bias</string>
			<key>Bottom</key>
			<string>final_map/Conv2D/conv</string>
		</dict>
		<key>Outputs</key>
		<array>
			<string>final_map/Conv2D/q</string>
		</array>
		<key>final_map/Conv2D/q</key>
		<dict>
			<key>OutputInterleave</key>
			<integer>1</integer>
			<key>OutputType</key>
			<string>Int8</string>
			<key>Bottom</key>
			<string>final_map/Conv2D/bias</string>
		</dict>
	</dict>
	<key>Version</key>
	<string>1.0.1</string>
</dict>
</plist>
